* {box-sizing: border-box;}

body {width: 100%; height: 100%;}

.container { background-color: rgb(210, 226, 241);
    max-width: 1380px;
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15% 1fr 20%;
}

.header {
    text-align: center;
    grid-column: 1/4;
}


.footer{
    grid-column: 1/4; 
}

.main { background-color:blanchedalmond;
    text-align: center;
}

.main_box {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 50px 10px 0px 10px;
}

.first_box, .second_box, .third_box {
    background-color:  coral;
    padding: 5px 0px;
}

.third_box { 
    grid-column: 1/3; 
}

.aside {background-color: aquamarine;
    text-align: center;
}

.footer_boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 10px;
}

.footer_box {
    background-color: whitesmoke;
    margin: auto;
    padding: 5px 15px;
}